section.bird {
  width: 20vmax;
  height: 20vmax;
  margin-bottom: 30vh;
  background: transparent url('http://image005.flaticon.com/1/svg/112/112288.svg') no-repeat;
  //-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
}
