section.bird {
  width: 20vmax;
  height: 20vmax;
  position: relative;
  margin-bottom: 30vh;

  div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .wing-left {
    $main-colour: #dedede;

    .wing-left__wing {
      clip-path: polygon(15% 100%, 40% 80%, 18% 50%);
      background-color: $main-colour;
    }

    .wing-left__feather {
      background-color: $main-colour;
    }

    .wing-left__feather--first {
      clip-path: polygon(17% 76%, 12% 91%, 16% 86%);
    }

    .wing-left__feather--second {
      clip-path: polygon(27% 82%, 13% 94%, 16% 87%);
    }

    .wing-left__feather--third {
      clip-path: polygon(32% 82%, 26% 87%, 26% 96%);
    }
  }

  .body {

    .body__left-ribs {
      clip-path: polygon(50% 7%, 40% 80%, 18% 50%);
      background-color: #efefef;
    }

    .body__left-side {
      clip-path: polygon(18% 50%, 50% 7%, 28% 24%);
      background-color: #fefefe;
    }

    .body__breast {
      clip-path: polygon(60% 80%, 50% 7%, 40% 80%);
      background-color: #eaeaea;
    }
  }

  .hair {

    .hair__tuft {
      clip-path: polygon(40% 0, 50% 7%, 40% 5%);
      background-color: #fefefe;
    }
  }

  .foot-left {

    .foot-left__leg {
      clip-path: polygon(50% 80%, 45% 95%, 40% 80%);
      background-color: #ccc;
    }

    .foot-left__toe-left {
      clip-path: polygon(43.5% 90%, 45% 95%, 35% 100%);
      background-color: #ddd;
    }

    .foot-left__toe-right {
      clip-path: polygon(46.5% 90%, 45% 95%, 55% 100%);
      background-color: #bbb;
    }
  }
}
