section.bird {
  width: 20vmax;
  height: 20vmax;
  border: 1px solid red;
  position: relative;
  margin-bottom: 30vh;
  //background: transparent url('http://image005.flaticon.com/1/svg/112/112288.svg') no-repeat;

  > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  div.left-body {
    -webkit-clip-path: polygon(50% 7%, 40% 80%, 18% 50%);
    background-color: #efefef;
  }

  div.left-wing {
    -webkit-clip-path: polygon(15% 100%, 40% 80%, 18% 50%);
    background-color: #dedede;
  }

  div.top-left {
    -webkit-clip-path: polygon(18% 50%, 50% 7%, 28% 24%);
    background-color: #fefefe;
  }

  div.lower-left {
    -webkit-clip-path: polygon(50% 80%, 50% 7%, 40% 80%);
    background-color: #eaeaea;
  }

  div.left-antenna {
    -webkit-clip-path: polygon(40% 0, 50% 7%, 40% 5%);
    background-color: #fefefe;
  }

  div.beak-left {
    -webkit-clip-path: polygon(50% 39%, 50% 54%, 41% 45%);
    background-color: #999;
  }

  div.foot-left {
    -webkit-clip-path: polygon(50% 80%, 45% 95%, 40% 80%);
    background-color: #ccc;
  }

  div.toe-left {
    -webkit-clip-path: polygon(43.5% 90%, 45% 95%, 35% 100%);
    background-color: #ddd;
  }

  div.toe-right {
    -webkit-clip-path: polygon(46.5% 90%, 45% 95%, 55% 100%);
    background-color: #bbb;
  }
}
