* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #E2DDD9;
    /*background: linear-gradient(#e4e0ba, #3F264D);*/
}
