section.world {
  @import "../components/floor";

  display: flex;
  flex: 1;

  > section.about {
    position: absolute;
    top: 0;
    right: 0;
    margin: .625rem;
    color: white;
    font-family: Lato, Tahoma, Helvetica, sans-serif;
    text-align: right;
    padding: .625rem;

    > h1 {
      font-size: 2rem;
      font-weight: 900;
    }

    h2 {
      font-size: .625rem;
      font-weight: 200;

      a {
        color: lighten(#B0F8FF, 10);
      }
    }
  }
}
