/* Theme: http://www.colourlovers.com/palette/67170/Trajan */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #76D3DE;

  > body {
    min-height: 100vh;
    border: .625rem solid white;

    @import "./containers/world";
  }
}
