/* Theme: http://www.colourlovers.com/palette/67170/Trajan
/*        http://www.colourlovers.com/palette/496170/All_in_All */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;

  > body {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: white;
    display: flex;
    padding: .625rem;

    section.koi {
      @import "./containers/world";

      width: 100%;
      min-height: 100%;
      background-color: #76D3DE;
      display: flex;
      flex-direction: column;
    }
  }
}
